:root {
  --background-button: #06c576;
  --background-button-second: #08995d;
  --border-tela: rgba(100, 98, 98, 0.753);
  --font-arimo: 'Arimo', arial;
}
* {
  font-family: var(--font-arimo);
}
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
.telaPrincipal {
  padding: 1vw;
  box-sizing: border-box;
}
#telaJogo {
  box-shadow: 0px 0px 0.4vw 0.05vw var(--border-tela);
}
.sectionTela {
  display: flex;
  justify-content: center;
}
.sectionButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(14, 3.5vw);
  margin: 2vw 0;
  gap: 1vw;
}
.buttons button {
  width: 3.5vw;
  height: 3.5vw;
  background-color: var(--background-button);
}
.buttons button:hover {
  background-color: rgb(9, 146, 105);
}
.buttons button:active {
  transform: scale(0.97);
}
.buttons .active {
  background-color: rgb(9, 146, 105);
  transform: scale(0.97);
}
.buttons .press {
  transition: 0.5s all ease;
  box-shadow: 0px 0px 0.3vw 0.01vw red;
  background-color: cadetblue;
}
.buttons .press:hover, .press:active {
  background-color: cadetblue;
}
.presetButton button {
  border: 0;
  font-size: 1vw;
  font-weight: 700;
  box-sizing: border-box;
  box-shadow: 0px 0px 0.3vw 0.01vw var(--border-tela);
  user-select: none;
}
.novaPalavra {
  display: none;
}
.novaPalavra:hover {
  cursor: pointer;
  transition: 0.3s all ease;
  transform: scale(1.1);
  transform: translateY(-2px);
}
.novaPalavra:active {
  transition: none;
  background-color: rgb(170, 170, 170);
}