:root {
    --background-button: #06c576;
    --background-button-second: #08995d;
    --border-tela: rgba(100, 98, 98, 0.753);
    --font-arimo: font-family: 'Arimo', arial;
}
* {
    font-family: var(--font-arimo);
}
body {
    margin: 0;
    padding: 2vh;
    box-sizing: border-box;
    height: 100vh;
}
.sectionTela {
    display: flex;
    justify-content: center;
}
#telaJogo {
    box-shadow: 0px 0px 0.4vw 0.05vw var(--border-tela);
}
.sectionButtons {
    display: flex;
    justify-content: center;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    margin-top: 2vw;
    gap: 1vw;
}
.buttons button {
    user-select: none;
    width: 3.5vw;
    height: 3.5vw;
    font-size: 1vw;
    font-weight: 700;
    border: 0;
    background-color: var(--background-button);
    box-shadow: 0px 0px 0.3vw 0.01vw var(--border-tela);
    box-sizing: border-box;
}
.optionsButton {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    gap: 1vw;
}
.optionsButton button {
    user-select: none;
    width: 10vw;
    height: 2.5vw;
    font-size: 1vw;
    font-weight: 700;
    border: 0;
    background-color: var(--background-button-second);
    box-shadow: 0px 0px 0.3vw 0.01vw var(--border-tela);
    box-sizing: border-box;
}
.buttons button:hover {
    background-color: rgb(9, 146, 105);
}
.optionsButton button:hover {
    background-color: rgb(4, 170, 120);
}
.buttons button:active,.optionsButton button:hover {
    transform: scale(0.97);
}
.buttons .active {
    background-color: rgb(9, 146, 105);
    transform: scale(0.97);
}
.buttons .press {
    transition: 0.5s all ease;
    box-shadow: 0px 0px 0.3vw 0.01vw red;
    background-color: cadetblue;
}
.buttons .press:hover, .press:active {
    background-color: cadetblue;
}
@media screen and (max-width: 1024px) {
    body {  
        padding: 1vh;
    }
    #telaJogo {
        width: 95vw;
    }
    .sectionButtons {
        margin: 10vw 0;
    }
    .buttons {
        grid-template-columns: repeat(7, 1fr);
        gap: 3vw;
    }
    .buttons button {
        width: 9vw;
        height: 9vw;
        font-size: 3vw;
    }
    .optionsButton button {
        width: 30vw;
        height: 6.5vw;
        font-size: 3vw;
    }
}